*{
    margin: 0;
    padding: 0;
    position:relative;
  
}

/* header */

.header{
    min-height:60vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3));
    background-position: center;
    background-size: cover;
    position:relative;
    
    
}

/* navbar */

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
    height: 120px;

}

.nav-links{
    flex: 1;
    margin-left: 50%;
    top:0%;
    display: inline-flex
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}


.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}


.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: rgb(228, 85, 85);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


.text-box{
    width: 95%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    top: 20px;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    position:relative;
    
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 16px;
}

.visit-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    top:195px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.visit-btn:hover{
    border: 1px solid rgb(228, 85, 85);
    background: rgb(228, 85, 85);
    transition: .5s;
}

nav .close-icon, .menu-icon{
    display: none;
}



/* course section */

.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1{
    font-size: 36px;
    font-weight: 600;
}


.course p{
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.course-cards{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}


.card{
    flex-basis: 31%;
    background: rgb(231, 233, 119,0.3);
    border-radius: 10px;
    margin-bottom: 5%;
    padding:  20px  12px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-cards h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.card:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0, 0,0.3);
}





/* campus section */
.campus{
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus h1{
    font-size: 36px;
    font-weight: 600;
}

.campus p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.campus-cards{
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
}

.card-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.card-col img{
    width: 100%;
    display: block;
    height: 100%;
}

.card-col .layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}


.card-col .layer:hover{
    background: rgb(255, 0, 0,0.7);
}


.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 22px;
    bottom: 0;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}



/* facilities section */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facilities p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.facilities h1{
    font-size: 36px;
    font-weight: 600;
}

.facilities-card{
    display:-webkit-flex;
    justify-content:start;
    white-space:pre-wrap;
    margin-top: 10px;
}


.fac-card{
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.fac-card img{
    width: 100%;
    border-radius: 10px;
    height: 60%;
}

.fac-card img:hover{
    box-shadow: 0 3px 5px 5px rgb(0,0,0,.3 );
    width: 100%;
}

.fac-card h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

.fac-card p{
    padding: 0;
}


.online-course{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.5));
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}

.online-course h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}





/* footer */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;

}

.footer h4{
    margin-bottom: 25px;
    top: 30px;
    font-weight: 600;
}

.fo-img img{
    margin: 0 3px;
    cursor: pointer;
    padding: 18px 0;
}

.fo-img img{
    width: 1.5%;
}


/* --------- About page ---------- */

.about-header{
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)) ,url('images/h.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.about-header h1{
    font-size: 30px;
    font-weight: 600;
    margin-top: 80px;
}


.about-us{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}


.about-card{
    flex-basis: 48%;
    padding: 30px 2px;

}

.about-card img{
    width: 100%;
}

.about-card h1{
    font-size: 36px;
    font-weight: 600;
    padding-top: 0;
}


.about-card p{
    color: #777;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 15px 0 25px;
}


.about-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(228, 85, 85);
    border: 1px solid rgb(228, 85, 85);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.about-btn:hover{
    border: 1px solid rgb(228, 85, 85);
    background: rgb(228, 85, 85);
    color: white;
    transition: .5s;
}


/* --------- Course page ----------- */

.course-header{
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)) ,url('images/h.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.course-header h1{
    font-size: 30px;
    font-weight: 600;
    margin-top: 80px;
}



/* ------- Blog page --------- */

.blog-header{
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)) ,url('images/h.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.blog-header h1{
    font-size: 30px;
    font-weight: 600;
    margin-top: 80px;
}

.blog-content{
    display: flex;
}

.blog-page{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.content-left{
    flex-basis: 65%;
}

.content-left img{
    width: 100%;
}

.content-left h2{
    color: black;
    font-weight: 600;
    margin: 30px 0;
}

.content-left p{
    color: #777;
    font-size: 16px;
    line-height: 22px;
}



.content-right{
     flex-basis: 32%;
     margin-left: 35px;

}

.content-right h3{
    background: rgb(228, 85, 85) ;
    color: white;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;

}

.content-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}

/* ----- comment box ---- */

.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;

}

.comment-box h3{
    text-align: left;
}

.comment-form input , .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

.comment-btn{
    display: inline-block;
    text-decoration: none;
    color:rgb(228, 85, 85);
    border: 1px solid rgb(228, 85, 85);
    padding: 12px 28px;
    font-size: 11px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 10px 0;
}

.comment-btn:hover{
    border: 1px solid rgb(228, 85, 85);
    background: rgb(228, 85, 85);
    color: white;
    transition: .5s;
}


 


/* -------- contact us page -------- */

.contact-header{
    height: 65vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)) ,url('images/h.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
}

.contact-header h1{
    font-size: 30px;
    font-weight: 600;
    margin-top: 80px;
    /* box-shadow: 0 1px 10px 3px black;
    padding: 10px;
    width: 20%;
    left: 40%;
    position: absolute; */
}



.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}


.location iframe{
    width: 100%;
}


.contact-us{
        display: flex;
        width: 80%;
        margin: auto;
        justify-content: space-between;

}

.information{
    flex-basis: 48%;
    margin-bottom: 30px;

}

.information div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}


.information div p{
    color: #777;
    font-size: 12px;
    line-height: 22px;
    padding: 0;

}

.information div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}


/* detail-info  */

.detail-info input , .detail-info textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.send-info{
    display: inline-block;
    text-decoration: none;
    color:rgb(228, 85, 85);
    border: 1px solid rgb(228, 85, 85);
    padding: 12px 28px;
    font-size: 11px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin: 10px 0;
}

.send-info:hover{
    border: 1px solid rgb(228, 85, 85);
    background: rgb(228, 85, 85);
    color: white;
    transition: .5s;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

/*facilities*/

img {
    height: 150px;
    width: 100%;
  }
  
  div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
  .card {
    transition: 0.5s;
    cursor: pointer;
  }
  .card-title {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
  }
  .card-title i {
    font-size: 15px;
    transition: 1s;
    cursor: pointer;
    color: #ffa710;
  }
  .card-title i:hover {
    transform: scale(1.25) rotate(100deg);
    color: #18d4ca;
  }
  .card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  }
  .card-text {
    height: 80px;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform 0.3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: "";
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before,
  .card:hover::after,
  .card:focus::before,
  .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  
/*news */

body{background: #eee}.news{width: 160px}.news-scroll a{text-decoration: none}.dot{height: 6px;width: 6px;margin-left: 3px;margin-right: 3px;margin-top: 2px !important;background-color: rgb(207,23,23);border-radius: 50%;display: inline-block}

/* #n{
  top: 80px;
  position: absolute;
  /* margin: 0 auto; */
} */
/*bi{o*/

body{
    color: #6F8BA4;
    margin-top:20px;
}
.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #20247b;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #20247b;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}

